<h1>{{ title | translate }}</h1>
<form [formGroup]="form" (submit)="onSubmit()">
	<mat-form-field class="w-100">
		<mat-label>{{ "groups.group-name" | translate }}</mat-label>
		<input matInput placeholder="Applied IT" formControlName="name" />
	</mat-form-field>
	<mat-form-field class="w-100">
		<mat-label>{{ "groups.group-field-of-study" | translate }}</mat-label>
		<input matInput placeholder="IT" formControlName="fieldOfStudy" />
	</mat-form-field>
	<mat-form-field class="w-100">
		<mat-label>{{ "groups.group-university-code" | translate }}</mat-label>
		<input matInput placeholder="0X000X-XXX" formControlName="universityGroupCode" />
	</mat-form-field>
	<div class="d-flex justify-content-end">
		<button
			[disabled]="form.invalid || noChanges"
			type="submit"
			mat-button
			mat-dialog-close
			color="primary"
			class="me-3">
			{{ "common.save" | translate }}
		</button>
	</div>
</form>
