<app-auth-layout>
	<div card class="w-100 d-flex flex-column align-items-center">
		<div class="mt-5">
			<img
				mat-card-image
				style="height: 90px"
				src="../../../assets/images/vlab-logo.svg"
				alt="virtual labs logo" />
		</div>
		<div style="width: 20%; border-bottom: solid 1px #e6e6e6" class="mt-3 mb-4"></div>
		<h1 class="mb-5">
			<!-- Login to your account -->
			{{ "auth.login-to-your-account" | translate }}
		</h1>
		<form (ngSubmit)="loginUser(loginUserForm)" [formGroup]="loginUserForm" class="login-form">
			<mat-form-field appearance="outline" class="w-100">
				<mat-label>
					{{ "common.email" | translate }}
				</mat-label>
				<input matInput placeholder="angular@gmail.com" formControlName="email" />
				<mat-error *ngIf="loginUserForm.get('email')?.invalid">{{
					getErrorMessage("email") | translate
				}}</mat-error>
			</mat-form-field>
			<mat-form-field appearance="outline" class="w-100">
				<mat-label>
					{{ "common.password" | translate }}
				</mat-label>
				<input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" />
				<div
					mat-icon-button
					matSuffix
          tabindex="0"
					(click)="hidePassword = !hidePassword"
          (keydown.space)="hidePassword = !hidePassword"
					[attr.aria-label]="'Hide password'">
					<mat-icon>{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
				</div>
				<mat-error *ngIf="loginUserForm.get('password')?.invalid">{{
					getErrorMessage("password") | translate
				}}</mat-error>
			</mat-form-field>

      <button type="submit" mat-flat-button color="primary" class="mt-5 d-block mx-auto  w-50">
        {{ "common.login" | translate }}
      </button>
			<!-- <div class="w-100 d-flex align-items-center">
				<mat-checkbox class="example-margin">Remember me</mat-checkbox>
				<a href="" routerLink="/recovery" class="ms-auto">Forget password?</a>
			</div> -->
			<mat-error *ngIf="mainInvalidMessageVisibility" class="text-danger col-12 text-center mt-3">{{
				mainInvalidMessageValue | translate
			}}</mat-error>
		</form>
		<div class="mt-5">{{ "auth.dont-have-an-account" | translate }}?</div>
		<a href="" class="mb-4" routerLink="/register">{{ "auth.register-now" | translate }}!</a>
		<mat-card-footer style="width: calc(100% + 60px); position: relative">
			<mat-progress-bar
				*ngIf="loading"
				mode="indeterminate"
				style="position: absolute; bottom: -24px"></mat-progress-bar>
		</mat-card-footer>
	</div>
</app-auth-layout>
