<app-auth-layout>
	<div card class="w-100 d-flex flex-column align-items-center">
		<div class="mt-5">
			<img
				mat-card-image
				style="height: 90px"
				src="../../../assets/images/vlab-logo.svg"
				alt="virtual labs logo" />
		</div>
		<div style="width: 20%; border-bottom: solid 1px #e6e6e6" class="mt-3 mb-4"></div>
		<h1 class="mb-4">{{ "auth.welcome-to-vl" | translate }}!</h1>
		<p class="text-center">
			{{ "auth.your-account-created-successfully" | translate }}.<br />{{
				"auth.click-to-go-to-login-page" | translate
			}}.
		</p>
		<button mat-flat-button color="primary" class="mt-4 w-50" (click)="redirectToLoginPage()">
			{{ "common.login-page" | translate }}
		</button>
	</div>
</app-auth-layout>
