<div class="py-3 px-3 d-flex flex-column flex-grow h-100">
	<div class="w-100 d-flex justify-content-center align-items-center" style="position: relative">
		<span class="mt-2">{{ "module.workstations" | translate }}</span>
		<button mat-icon-button style="position: absolute; right: 0" (click)="onCloseModal()">
			<mat-icon>close</mat-icon>
		</button>
	</div>
	<div class="w-100 my-3 d-flex justify-content-center">
		<h2>
			{{ title | translate }}
		</h2>
	</div>
	<div class="d-flex h-100">
		<div class="w-100 mx-3">
			<h3 class="mb-2">Dane stanowiska</h3>
			<form [formGroup]="createWorkstationForm" class="row gx-3 common-form mb-4">
				<mat-form-field appearance="outline" class="col-12">
					<mat-label>{{ "common.name" | translate }}</mat-label>
					<input matInput placeholder="Nowe stanowisko" formControlName="name" />
					<mat-error *ngIf="createWorkstationForm.get('name')?.invalid"
						>{{ getErrorMessage("name") | translate }}
					</mat-error>
				</mat-form-field>
				<mat-form-field appearance="outline" class="col-12">
					<mat-label>API url</mat-label>
					<input matInput placeholder="www.api-source.com/measurments" formControlName="api-url" />
					<mat-error *ngIf="createWorkstationForm.get('api-url')?.invalid"
						>{{ getErrorMessage("api-url") | translate }}
					</mat-error>
				</mat-form-field>
				<mat-form-field appearance="outline" class="col-12">
					<mat-label>{{ "common.description" | translate }}</mat-label>
					<textarea
						matInput
						placeholder="Opis..."
						formControlName="description"
						rows="6"></textarea>
					<mat-error *ngIf="createWorkstationForm.get('description')?.invalid"
						>{{ getErrorMessage("description") | translate }}
					</mat-error>
				</mat-form-field>
			</form>
			<!-- <h3 class='mb-2'>Symbol</h3> -->
			<div class="d-flex justify-content-between align-items-center">
				<span class="text-muted">Symbol</span>
				<app-icon-change-dropdown (iconChanged)='iconChanged($event)'></app-icon-change-dropdown>
			</div>
			<!-- <div class="d-flex justify-content-between align-items-center my-3">
                <span class='text-muted'>Tło</span>
                <app-icon-change-dropdown></app-icon-change-dropdown>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <span class='text-muted'>Kolor</span>
                <app-icon-change-dropdown></app-icon-change-dropdown>
            </div> -->
			<div class="d-flex justify-content-center mt-5 mb-4">
				<button mat-flat-button color="primary" (click)='createWorkstation(createWorkstationForm.value)'>Zapisz stanowisko</button>
			</div>
		</div>
		<!-- <div class='w-50 d-flex mx-5'>
            <div class="w-50 me-4">
                <h3 class='mb-2'>Dane stanowiska</h3>
                <form [formGroup]="createWorkstationForm" class="row gx-3 common-form mb-4">
                    <mat-form-field appearance="outline" class="col-12">
                        <mat-label>{{ "common.name" | translate }}</mat-label>
                        <input matInput placeholder="Nowe stanowisko" formControlName="name" />
                        <mat-error *ngIf="createWorkstationForm.get('name')?.invalid">{{ getErrorMessage('name') |
                            translate
                            }}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-12">
                        <mat-label>{{ "common.description" | translate }}</mat-label>
                        <textarea matInput placeholder="Opis..." formControlName="description"></textarea>
                        <mat-error *ngIf="createWorkstationForm.get('description')?.invalid">{{
                            getErrorMessage('description') | translate }}
                        </mat-error>
                    </mat-form-field>
                </form>
                <h3 class='mb-2'>Prezentacja danych</h3>
                <form [formGroup]="createWorkstationForm" class="row gx-3 common-form mb-4">
                    <mat-form-field appearance="outline" class='col-12'>
                        <mat-label>Typ prezentacji danych</mat-label>
                        <mat-select>
                            <mat-option value="one">Wykres</mat-option>
                            <mat-option value="two">Wskaźnik analogowy</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class='col-12'>
                        <mat-label>Typ wykresu</mat-label>
                        <mat-select formControlName="chart-type">
                            <mat-option value="line">Line</mat-option>
                            <mat-option value="bar">Bar</mat-option>
                            <mat-option value="pie">Pie</mat-option>
                            <mat-option value="doughnut">Doughnut</mat-option>
                            <mat-option value="radar">Radar</mat-option>
                            <mat-option value="polarArea">Polar</mat-option>
                            <mat-option value="bubble">Bubble</mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>

                <div class="d-flex justify-content-between align-items-center">
                    <h3 class='my-0'>Symbol</h3>
                    <app-icon-change-dropdown></app-icon-change-dropdown>
                </div>
            </div>
            <div class="w-50">
                <h3 class='mb-2'>Dane wejściowe</h3>
                <form [formGroup]="workstationDataForm" class="row gx-3 common-form mb-4">
                    <span class='d-flex flex-column col-12 align-items-end mb-2'>
                        <mat-form-field appearance="outline" class='w-100'>
                            <mat-label>Etykieta</mat-label>
                            <input matInput placeholder="Nowe stanowisko" formControlName="label" />
                        </mat-form-field>
                        <button mat-flat-button color='primary' class='ms-3'
                            (click)='addLabel(workstationDataForm.get("label")?.value)'>
                            Dodaj
                        </button>
                    </span>
                    <span class='d-flex flex-column col-12 align-items-end'>
                        <mat-form-field appearance="outline" class='w-100'>
                            <mat-label>Zbiór danych</mat-label>
                            <input matInput placeholder="Nowe stanowisko" formControlName="dataset" />
                        </mat-form-field>
                        <button mat-flat-button color='primary' class='ms-3'
                            (click)='addDataset(workstationDataForm.get("dataset")?.value)'>
                            Dodaj
                        </button>
                    </span>
                </form>
                <h3 class='mb-2'>Dodane etykiety</h3>
                <div class='mb-4'>
                    <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
                        <mat-chip class="example-box" cdkDrag *ngFor="let label of labels"
                            (removed)="removeLabel(label)">
                            {{ label }}
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <h3 class='mb-2'>Dodane zbiory danych</h3>
                <div>
                    <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
                        <mat-chip class="example-box" cdkDrag *ngFor="let dataset of datasets"
                            (removed)="removeDataset(dataset)">
                            {{ dataset }}
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>

        </div>
        <div class='w-50 d-flex flex-column mx-5'>
            <h3>Wizualizacja wyniku pomiaru</h3>
            <div>
                <app-chart 
                [type]="createWorkstationForm.get('chart-type')?.value" 
                [labels]='labels'
                [datasets]='datasets'
                ></app-chart>
            </div>
        </div> -->
	</div>
</div>
