<app-auth-layout>
	<div card class="w-100 d-flex flex-column align-items-center">
		<div class="mt-5">
			<img
				mat-card-image
				style="height: 90px"
				src="../../../assets/images/vlab-logo.svg"
				alt="virtual labs logo" />
		</div>
		<div style="width: 20%; border-bottom: solid 1px #e6e6e6" class="mt-3 mb-4"></div>
		<h1 class="mb-5">
			{{ "auth.create-a-new-account" | translate }}
		</h1>
		<form [formGroup]="registerUserForm" class="row gx-3 register-form">
			<mat-form-field appearance="outline" class="col-12">
				<mat-label>{{ "common.email" | translate }}</mat-label>
				<input matInput placeholder="angular@gmail.com" formControlName="email" />
				<mat-error *ngIf="registerUserForm.get('email')?.invalid">{{
					getErrorMessage("email") | translate
				}}</mat-error>
			</mat-form-field>
			<mat-form-field appearance="outline" class="col-12">
				<mat-label>{{ "common.password" | translate }}</mat-label>
				<input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" />
				<button
					mat-icon-button
					matSuffix
					(click)="hidePassword = !hidePassword"
					[attr.aria-label]="'Hide password'"
					[attr.aria-pressed]="hidePassword">
					<mat-icon>{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
				</button>
				<mat-error *ngIf="registerUserForm.get('password')?.invalid">{{
					getErrorMessage("password") | translate
				}}</mat-error>
			</mat-form-field>
			<span class="col-6">
				<mat-form-field appearance="outline" class="w-100">
					<mat-label>{{ "common.first-name" | translate }}</mat-label>
					<input matInput formControlName="firstName" />
					<mat-error *ngIf="registerUserForm.get('firstName')?.invalid">{{
						getErrorMessage("firstName") | translate
					}}</mat-error>
				</mat-form-field>
			</span>
			<span class="col-6">
				<mat-form-field appearance="outline" class="w-100">
					<mat-label>{{ "common.last-name" | translate }}</mat-label>
					<input matInput formControlName="lastName" />
					<mat-error *ngIf="registerUserForm.get('lastName')?.invalid">{{
						getErrorMessage("lastName") | translate
					}}</mat-error>
				</mat-form-field>
			</span>

			<span class="col-6">
				<mat-form-field appearance="outline" class="w-100">
					<mat-label>{{ "common.album-number" | translate }}</mat-label>
					<input matInput formControlName="albumNumber" />
					<mat-error *ngIf="registerUserForm.get('albumNumber')?.invalid">{{
						getErrorMessage("albumNumber") | translate
					}}</mat-error>
				</mat-form-field>
			</span>

			<span class="col-6">
				<mat-form-field appearance="outline" class="w-100">
					<mat-label>{{ "common.city" | translate }}</mat-label>
					<input matInput formControlName="city" />
					<mat-error *ngIf="registerUserForm.get('city')?.invalid">{{
						getErrorMessage("city") | translate
					}}</mat-error>
				</mat-form-field>
			</span>

			<mat-error *ngIf="mainInvalidMessageVisibility" class="text-danger col-12 text-center mt-3">{{
				mainInvalidMessageValue | translate
			}}</mat-error>
		</form>

		<button
			mat-flat-button
			color="primary"
			class="mt-4 w-50"
			(click)="registerUser(registerUserForm)">
			{{ "common.register" | translate }}
		</button>

		<div class="mt-5">{{ "auth.already-have-an-account" | translate }}?</div>
		<a href="" class="mt-1" routerLink="/login">{{ "common.log-in" | translate }}!</a>
		<mat-card-footer style="width: calc(100% + 60px); position: relative">
			<mat-progress-bar
				*ngIf="loading"
				mode="indeterminate"
				style="position: absolute; bottom: -24px"></mat-progress-bar>
		</mat-card-footer>
	</div>
</app-auth-layout>
