<div class="py-3 px-3 d-flex flex-column flex-grow h-100">
  <div class="w-100 d-flex justify-content-end align-items-center">
    <button mat-icon-button (click)="onCloseModal()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="w-100 my-3 d-flex justify-content-center">
    <h2></h2>
  </div>
  <div class="d-flex h-100">
    <div class="w-100 mx-3">
      <h2 *ngIf="!studentsData['studentId']" class="mb-2">{{ "students.adding-new-one" | translate }}</h2>
      <h2 *ngIf="studentsData['studentId']" class="mb-2">{{ "students.editing-student" | translate }}</h2>
      <form class="row gx-3 common-form mb-4" [formGroup]="addStudentForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>{{ "common.email" | translate }}</mat-label>
          <input matInput placeholder="student.name@example.com" formControlName="email"/>
          <mat-error *ngIf="this?.addStudentForm?.get('email')?.getError('required')">
            {{ "error.this-field-is-required" | translate }}
          </mat-error>
          <mat-error *ngIf="this?.addStudentForm?.get('email')?.getError('email')">
            {{ "error.provided-email-has-an-incorrect-format" | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>{{ "common.first-name" | translate }}</mat-label>
          <input matInput placeholder="John" formControlName="firstName"/>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>{{ "common.last-name" | translate }}</mat-label>
          <input matInput placeholder="Doe" formControlName="lastName"/>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>{{ "common.group" | translate }}</mat-label>
          <input type="text"
                 placeholder="Pick one"
                 aria-label="Number"
                 matInput
                 formControlName="groups"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let group of filteredGroups | async" [value]="group">
              {{group}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>{{ "common.address" | translate }}</mat-label>
          <input matInput placeholder="Garbary 2" formControlName="address"/>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>{{ "common.post-code" | translate }}</mat-label>
          <input matInput placeholder="00-000" formControlName="postCode"/>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>{{ "common.city" | translate }}</mat-label>
          <input matInput placeholder="Bydgoszcz" formControlName="city"/>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>{{ "common.album-number" | translate }}</mat-label>
          <input matInput placeholder="000000" formControlName="albumNumber"/>
        </mat-form-field>
        <div class="d-flex justify-content-end py-3 px-3">
          <button *ngIf="!studentsData['studentId']" mat-flat-button color="primary" type="submit" [disabled]="!addStudentForm.valid">
            <span>{{ "students.add-new-one" | translate }}</span>
            <mat-icon>add</mat-icon>
          </button>
          <button *ngIf="studentsData['studentId']" mat-flat-button color="primary" type="submit" [disabled]="!addStudentForm.valid">
            <span>{{ "common.save" | translate }}</span>
            <mat-icon>save</mat-icon>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
