<mat-toolbar
	class="w-100 pe-4"
	color="primary"
	style="
		height: 56px;
		background-image: linear-gradient(80deg, #f5f5f5 10%, #3f51b5 50%, #3f51b5 100%) !important;
	">
	<span class="ms-auto d-flex align-items-center" style="padding: 0 20px">
		<app-language-dropdown-select></app-language-dropdown-select>
		<!-- <button mat-icon-button>
            <mat-icon matBadge="7" matBadgeSize="small" matBadgeColor="warn">notifications</mat-icon>
        </button> -->
		<button mat-icon-button [matMenuTriggerFor]="menu">
			<mat-icon>more_vert</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item>
				<mat-icon>person_outline</mat-icon>
				<span>{{ "common.my-account" | translate }}</span>
			</button>
			<button mat-menu-item disabled>
				<mat-icon>settings</mat-icon>
				<span>Settings</span>
			</button>
			<button mat-menu-item (click)="logOutUser()">
				<mat-icon>logout</mat-icon>
				<span>{{ "common.logout" | translate }}</span>
			</button>
		</mat-menu>
	</span>
</mat-toolbar>
<mat-progress-bar *ngIf="loading" class="w-100" mode="indeterminate" color="accent">
</mat-progress-bar>
