<app-app-layout>
	<div container>
		<h1>{{ "common.groups" | translate }}</h1>
		<hr />
		<div class="container">
			<div class="row">
				<div class="col-sm">
					<header class="d-flex gap-3 justify-content-end py-4">
						<button (click)="addGroup()" mat-fab color="primary">
							<mat-icon>group_add</mat-icon>
						</button>
						<button
							*ngIf="arrayChanged$ | async"
							(click)="setData()"
							mat-fab
							[matBadge]="currentUnsavedAmount"
							matBadgeColor="warn"
							[matBadgeHidden]="!(arrayChanged$ | async)"
							color="primary">
							<mat-icon>save</mat-icon>
						</button>
					</header>
				</div>
			</div>
			<div class="row" cdkDropListGroup>
				<div class="col-sm">
					<h3>{{ "teachers.my-groups" | translate }}</h3>
					<ul
						cdkDropList
						[cdkDropListData]="myGroupsArray"
						class="list-group"
						(cdkDropListDropped)="drop($event)">
						<li
							class="list-group-item d-flex align-items-center justify-content-between my-2 border-2"
							*ngFor="let group of myGroupsArray; let i = index"
							cdkDrag>
							<mat-icon class="me-3">drag_indicator</mat-icon>
							<div class="text-truncate">{{ group.name }}</div>
							<button
								mat-icon-button
								[matTooltip]="remove | translate"
								matTooltipPosition="after"
								(click)="removeMyGroupItem(i)">
								<mat-icon color="warn">remove</mat-icon>
							</button>
							<div class="drag-placeholder" *cdkDragPlaceholder></div>
						</li>
					</ul>
				</div>
				<div class="offset-1 col-sm" *ngIf="allGroups$ | async; else noGroups">
					<h3>{{ "common.all-groups" | translate }}</h3>
					<ul
						cdkDropList
						[cdkDropListData]="allGroupsArray"
						class="list-group"
						(cdkDropListDropped)="drop($event)">
						<li
							class="list-group-item d-flex align-items-center justify-content-between my-2 border-2"
							*ngFor="let group of allGroupsArray; let i = index"
							cdkDrag>
							<mat-icon class="me-3">drag_indicator</mat-icon>
							<div class="d-flex text-truncate">
								{{ group.name }} ({{ group.universityGroupCode }})
							</div>
							<button
								mat-icon-button
								[matTooltip]="edit | translate"
								matTooltipPosition="after"
								(click)="editGroup(group.id)">
								<mat-icon color="primary">edit</mat-icon>
							</button>
							<div class="drag-placeholder" *cdkDragPlaceholder></div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</app-app-layout>

<ng-template #noGroups>
	<div class="offset-1 col-sm">
		<h3>{{ "common.all-groups" | translate }}</h3>
		<h4 class="text-danger d-flex align-items-center gap-2">
			<mat-icon>error_outline</mat-icon> {{ "groups.no-groups" | translate }}
		</h4>
	</div>
</ng-template>
