<app-app-layout>
	<div container>
		<app-workstations-list></app-workstations-list>
		<mat-card>
			<button mat-mini-fab mat-circle color="primary">
				<mat-icon class="pb-1">science</mat-icon>
			</button>
			<button class="ms-3" mat-mini-fab mat-circle color="accent">
				<mat-icon>biotech</mat-icon>
			</button>
			<button class="ms-3" mat-mini-fab mat-circle color="warn">
				<mat-icon>groups</mat-icon>
			</button>
			<button class="ms-3" mat-mini-fab mat-circle style="background-color: green">
				<mat-icon>psychology_alt</mat-icon>
			</button>
			<button class="ms-3" mat-mini-fab mat-circle style="background-color: cadetblue">
				<mat-icon>psychology</mat-icon>
			</button>
			<button class="ms-3" mat-mini-fab mat-circle style="background-color: darkcyan">
				<mat-icon>cast_for_education</mat-icon>
			</button>
			<button class="ms-3" mat-mini-fab mat-circle style="background-color: darkcyan">
				<mat-icon>local_library</mat-icon>
			</button>
			<button class="ms-3" mat-mini-fab mat-circle style="background-color: darkblue">
				<mat-icon>rocket_launch</mat-icon>
			</button>
			<button class="ms-3" mat-mini-fab mat-circle style="background-color: dodgerblue">
				<mat-icon>workspace_premium</mat-icon>
			</button>
			<button class="ms-3" mat-mini-fab mat-circle style="background-color: dodgerblue">
				<mat-icon>workspace_premium</mat-icon>
			</button>
			<button class="ms-3" mat-mini-fab mat-circle style="background-color: dodgerblue">
				<mat-icon>workspace_premium</mat-icon>
			</button>
			<button class="ms-3" mat-mini-fab mat-circle style="background-color: dodgerblue">
				<mat-icon>workspace_premium</mat-icon>
			</button>
			<button class="ms-3" mat-mini-fab mat-circle style="background-color: dodgerblue">
				<mat-icon>workspace_premium</mat-icon>
			</button>
		</mat-card>
	</div>
</app-app-layout>
