<div class="d-flex">
	<app-sidebar></app-sidebar>
	<div class="d-flex flex-column w-100" style="overflow-y: hidden">
		<!-- <app-app-toolbar></app-app-toolbar> -->
		<app-breadcrumbs></app-breadcrumbs>
		<div
			style="max-width: 100%; position: relative"
			[@slideInAnimation]="o.isActivated ? o.activatedRoute : ''">
			<router-outlet #o="outlet"> </router-outlet>
		</div>
	</div>
</div>
