<app-auth-layout>
	<div card class="w-100 d-flex flex-column align-items-center">
		<div class="mt-5">
			<img
				mat-card-image
				style="height: 90px"
				src="../../../assets/images/vlab-logo.svg"
				alt="virtual labs logo" />
		</div>
		<div style="width: 20%; border-bottom: solid 1px #e6e6e6" class="mt-3 mb-4"></div>
		<h1 class="mb-5">Recover access to your account</h1>
		<mat-form-field appearance="outline" class="w-100">
			<mat-label>Enter your email</mat-label>
			<input matInput placeholder="pat@example.com" formControlName="email" />
			<!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
		</mat-form-field>
		<!-- <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field> -->

		<!-- <div class="w-100 d-flex align-items-center">
        
                    <mat-checkbox class="example-margin">Remember me</mat-checkbox>
                    <a href="" routerLink="/recovery" class='ms-auto'>Forget password?</a>
                </div> -->
		<small class="mt-3 text-muted">We will send you a link to reset your password.</small>
		<button mat-flat-button color="primary" class="mt-5 w-50">Send email</button>

		<div class="mt-5">Don't have an account?</div>
		<a href="" class="mt-1" routerLink="/register">Register Now!</a>
	</div>
</app-auth-layout>
