<app-app-layout>
	<div container>
		<div class="w-100 d-flex mb-3">
			<button mat-flat-button color="primary">Filtruj</button>
			<span class="ms-auto">
				<button mat-flat-button color="primary">Dodaj nowego</button>
				<button mat-flat-button color="primary" class="ms-3">Import listy wykładowców</button>
				<button mat-flat-button color="primary" class="ms-3">Export</button>
			</span>
		</div>
		<div class="w-100 mb-3">
			<app-data-table
				[columnConfig]="teachersColumnConfig"
				[data]="teachersData"
				[title]="teachersTableTitle">
			</app-data-table>
		</div>
	</div>
</app-app-layout>
