.data-table-activity-indicator {
  width: 0.5rem;
  aspect-ratio: 1/1;
  clip-path: circle(50%);

  &-red {
    background: rgba(255, 33, 33, 0.81);
  }

  &-green {
    background: rgba(33, 255, 33, 0.81);
  }
}
