<mat-card class="p-4 pb-5 d-flex flex-column">
  <div class="w-100">
    <h3 style="font-weight: 500">{{ title | translate }}</h3>
  </div>
  <span *ngIf="data === undefined">
		<div class="w-100 d-flex justify-content-between mt-3">
			<p-skeleton shape="rounded" width="10rem" height="2rem"></p-skeleton>

			<div class="d-flex">
				<p-skeleton shape="rounded" width="12rem" height="2rem"></p-skeleton>
				<p-skeleton class="ms-4" shape="rounded" width="5rem" height="2rem"></p-skeleton>
				<p-skeleton class="ms-4" shape="circle" size="2rem"></p-skeleton>
				<p-skeleton class="ms-2" shape="circle" size="2rem"></p-skeleton>
				<p-skeleton class="ms-2" shape="circle" size="2rem"></p-skeleton>
				<p-skeleton class="ms-2" shape="circle" size="2rem"></p-skeleton>
			</div>
		</div>
		<div class="mt-3 d-flex">
			<div class="flex-grow w-100 me-3">
				<div class="mt-3"><p-skeleton shape="rounded" height="3rem"></p-skeleton></div>
				<div class="mt-3"><p-skeleton shape="rounded" height="2.5rem"></p-skeleton></div>
				<div class="mt-2"><p-skeleton shape="rounded" height="2.5rem"></p-skeleton></div>
				<div class="mt-2"><p-skeleton shape="rounded" height="2.5rem"></p-skeleton></div>
				<div class="mt-2"><p-skeleton shape="rounded" height="2.5rem"></p-skeleton></div>
				<div class="mt-2"><p-skeleton shape="rounded" height="2.5rem"></p-skeleton></div>
			</div>
			<div class="flex-grow w-100 me-3">
				<div class="mt-3"><p-skeleton shape="rounded" height="3rem"></p-skeleton></div>
				<div class="mt-3"><p-skeleton shape="rounded" height="2.5rem"></p-skeleton></div>
				<div class="mt-2"><p-skeleton shape="rounded" height="2.5rem"></p-skeleton></div>
				<div class="mt-2"><p-skeleton shape="rounded" height="2.5rem"></p-skeleton></div>
				<div class="mt-2"><p-skeleton shape="rounded" height="2.5rem"></p-skeleton></div>
				<div class="mt-2"><p-skeleton shape="rounded" height="2.5rem"></p-skeleton></div>
			</div>
			<div class="flex-grow w-100 me-3">
				<div class="mt-3"><p-skeleton shape="rounded" height="3rem"></p-skeleton></div>
				<div class="mt-3"><p-skeleton shape="rounded" height="2.5rem"></p-skeleton></div>
				<div class="mt-2"><p-skeleton shape="rounded" height="2.5rem"></p-skeleton></div>
				<div class="mt-2"><p-skeleton shape="rounded" height="2.5rem"></p-skeleton></div>
				<div class="mt-2"><p-skeleton shape="rounded" height="2.5rem"></p-skeleton></div>
				<div class="mt-2"><p-skeleton shape="rounded" height="2.5rem"></p-skeleton></div>
			</div>
			<div class="flex-grow w-100 me-3">
				<div class="mt-3"><p-skeleton shape="rounded" height="3rem"></p-skeleton></div>
				<div class="mt-3"><p-skeleton shape="rounded" height="2.5rem"></p-skeleton></div>
				<div class="mt-2"><p-skeleton shape="rounded" height="2.5rem"></p-skeleton></div>
				<div class="mt-2"><p-skeleton shape="rounded" height="2.5rem"></p-skeleton></div>
				<div class="mt-2"><p-skeleton shape="rounded" height="2.5rem"></p-skeleton></div>
				<div class="mt-2"><p-skeleton shape="rounded" height="2.5rem"></p-skeleton></div>
			</div>
			<div class="flex-grow w-100">
				<div class="mt-3"><p-skeleton shape="rounded" height="3rem"></p-skeleton></div>
				<div class="mt-3"><p-skeleton shape="rounded" height="2.5rem"></p-skeleton></div>
				<div class="mt-2"><p-skeleton shape="rounded" height="2.5rem"></p-skeleton></div>
				<div class="mt-2"><p-skeleton shape="rounded" height="2.5rem"></p-skeleton></div>
				<div class="mt-2"><p-skeleton shape="rounded" height="2.5rem"></p-skeleton></div>
				<div class="mt-2"><p-skeleton shape="rounded" height="2.5rem"></p-skeleton></div>
			</div>
		</div>
	</span>

  <span *ngIf="data !== undefined">
		<div class="w-100 d-flex align-items-center">
			<h4>{{ "table.records-number" | translate }}: {{ data!.length }}</h4>
		</div>

		<div class="w-100" style="padding: 0 40px">
			<mat-divider></mat-divider>
		</div>

		<mat-form-field class="w-100 my-4">
			<mat-label>Filter</mat-label>
			<input class="w-100" matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input/>
		</mat-form-field>

		<div class="w-100">
			<mat-table [dataSource]="dataSource" class="col-12" matSort>
				<ng-container *ngFor="let item of columnConfig; let i=index" [matColumnDef]="item.name">
					<mat-header-cell
            *matHeaderCellDef
            [mat-sort-header]="item.name != activity || item.name != actions ? item.name : ''"
            [disabled]="item.name == activity || item.name == actions"
          >{{ item.columnName | translate }}
					</mat-header-cell>
					<span *ngIf="item.name !== icon && item.name !== actions && item.name !== activity">
						<mat-cell *matCellDef="let element"> {{ element[item.name] }} </mat-cell>
					</span>
					<span *ngIf="item.name === icon">
						<mat-cell *matCellDef="let element">
							<button
                class="my-2"
                mat-mini-fab
                mat-circle
                [ngStyle]="{ 'background-color': element['icon']['icon-background'] }">
								<mat-icon class="mb-3" [ngStyle]="{ color: element['icon']['icon-color'] }">{{
                  element["icon"]["icon-type"]
                  }}</mat-icon>
							</button>
						</mat-cell>
					</span>
					<span *ngIf="item.name === activity">
						<mat-cell *matCellDef="let element">
							<div
                matTooltip="{{ 'students.inactive' | translate }}"
                matTooltipPosition="after"
                *ngIf="!element[item.name]"
                class="data-table-activity-indicator data-table-activity-indicator-red"></div>
							<div
                matTooltip="{{ 'students.active' | translate }}"
                matTooltipPosition="after"
                *ngIf="element[item.name]"
                class="data-table-activity-indicator data-table-activity-indicator-green"></div>
						</mat-cell>
					</span>
					<span *ngIf="item.name === actions">
						<mat-cell *matCellDef="let element;">
							<button
                (click)="createAddEditStudentModal(element['id'])"
                mat-icon-button
                color="primary"
                matTooltip="{{ 'common.edit' | translate }}"
                matTooltipPosition="before">
								<mat-icon>edit</mat-icon>
							</button>
						</mat-cell>
					</span>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row matRipple *matRowDef="let row; columns: displayedColumns"></mat-row>
			</mat-table>

      <mat-paginator
        paginatorIntl
        itemsPerPageLabel="itemPerPageLabel"
        class="ms-auto my-3"
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements">
			</mat-paginator>

			<tr class="mat-row" *matNoDataRow>
				<td class="mat-cell" colspan="4">
					{{ "table.no-results-found" | translate }} {{ input.value }}"
				</td>
			</tr>
		</div>
	</span>
</mat-card>
