<app-app-layout>
	<div container>
		<div class="d-flex justify-content-between w-100">
			<div style="width: 69%">
				<div class="row g-3 gx-3">
					<span class="col-3">
						<mat-card class="px-4 pt-3">
							<h3 style="font-weight: 500">Workshops</h3>
							<app-chart type="doughnut"></app-chart>
						</mat-card>
					</span>
					<span class="col-3">
						<mat-card class="px-4 pt-3">
							<h3 style="font-weight: 500">Exams</h3>
							<app-chart type="doughnut"></app-chart>
						</mat-card>
					</span>
					<span class="col-3">
						<mat-card class="px-4 pt-3">
							<h3 style="font-weight: 500">Measurments</h3>
							<app-chart type="radar"></app-chart>
						</mat-card>
					</span>
					<span class="col-3">
						<mat-card class="px-4 pt-3">
							<h3 style="font-weight: 500">Reports</h3>
							<app-chart type="radar"></app-chart>
						</mat-card>
					</span>
					<span class="col-12">
						<mat-card class="px-4 pt-4 pb-5">
							<app-data-table
								[columnConfig]="tableColumnConfig"
								[data]="tableData"
								[title]="tableTitle"></app-data-table>
						</mat-card>
					</span>
				</div>
			</div>
			<div style="width: 30%">
				<div class="row g-3 gx-3">
					<span class="col-12">
						<mat-card class="px-4 pt-4 pb-5">
							<h1>Workshops</h1>
							<app-chart></app-chart>
						</mat-card>
					</span>
					<span class="col-12">
						<mat-card class="px-4 pt-4 pb-5">
							<h1>Workshops</h1>
							<app-chart></app-chart>
						</mat-card>
					</span>
					<span class="col-12">
						<mat-card class="px-4 pt-4 pb-5">
							<h1>Workshops</h1>
							<app-chart></app-chart>
						</mat-card>
					</span>
				</div>
			</div>
		</div>
	</div>
</app-app-layout>
