<app-auth-layout>
	<div card class="w-100 d-flex flex-column align-items-center">
		<div class="mt-5">
			<img
				mat-card-image
				style="height: 90px"
				src="../../../assets/images/vlab-logo.svg"
				alt="virtual labs logo" />
		</div>
		<div style="width: 20%; border-bottom: solid 1px #e6e6e6" class="mt-3 mb-4"></div>
		<h1>Reset password to your account</h1>
		<small class="text-muted mt-3 mb-4"
			>Password must be at least 8 characters long, contain a number and an letter</small
		>
		<mat-form-field appearance="outline" class="w-100">
			<mat-label>Enter your new password</mat-label>
			<input matInput [type]="hide ? 'password' : 'text'" />
			<button
				mat-icon-button
				matSuffix
				(click)="hide = !hide"
				[attr.aria-label]="'Hide password'"
				[attr.aria-pressed]="hide">
				<mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
			</button>
		</mat-form-field>
		<mat-form-field appearance="outline" class="w-100">
			<mat-label>Repeat your new password</mat-label>
			<input matInput [type]="hide2 ? 'password' : 'text'" />
			<button
				mat-icon-button
				matSuffix
				(click)="hide2 = !hide2"
				[attr.aria-label]="'Hide password'"
				[attr.aria-pressed]="hide2">
				<mat-icon>{{ hide2 ? "visibility_off" : "visibility" }}</mat-icon>
			</button>
		</mat-form-field>

		<button mat-flat-button color="primary" class="mt-5 w-50">Change password</button>
		<button (click)="push()">push</button>
		<button (click)="pop()">pop</button>

		<hr />
		<div [@staggerdFadeIn]="items.length" style="position: relative" class="d-flex flex-column">
			<div *ngFor="let item of items" style="position: relative; right: 0">
				{{ item }}
			</div>
		</div>
	</div>
	AAA
</app-auth-layout>
