<div class="py-3 px-3 d-flex flex-column flex-grow h-100">
    <div class="w-100 d-flex justify-content-center align-items-center" style="position: relative">
        <span class="mt-2">Scenariusze</span>
        <button mat-icon-button style="position: absolute; right: 0" (click)="onCloseModal()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="w-100 my-3 d-flex justify-content-center">
        <h2>
            Utwórz scenariusz
        </h2>
    </div>
    <div class="d-flex h-100">
        <div class="w-100 mx-3">
            <h3 class="mb-2">Symulacja pomiarów</h3>
            <form class="row gx-3 common-form mb-4">
                <mat-form-field appearance="outline" class="col-12">
					<mat-label>Nazwa</mat-label>
					<input matInput placeholder="Nowy scenariusz"/>
					<!-- <mat-error *ngIf="createWorkstationForm.get('name')?.invalid"
						>{{ getErrorMessage("name") | translate }}
					</mat-error> -->
				</mat-form-field>
                <mat-form-field appearance="outline" class="col-12">
					<mat-label>Opis</mat-label>
					<textarea
						matInput
						placeholder="Opis..."
						rows="6"></textarea>
					<!-- <mat-error *ngIf="createWorkstationForm.get('description')?.invalid"
						>{{ getErrorMessage("description") | translate }}
					</mat-error> -->
				</mat-form-field>
                <mat-form-field appearance="outline" class='col-12'>
                    <mat-label>Typ wykresu</mat-label>
                    <mat-select>
                        <mat-option value="line">Line</mat-option>
                        <mat-option value="bar">Bar</mat-option>
                        <mat-option value="pie">Pie</mat-option>
                        <mat-option value="doughnut">Doughnut</mat-option>
                        <mat-option value="radar">Radar</mat-option>
                        <mat-option value="polarArea">Polar</mat-option>
                        <mat-option value="bubble">Bubble</mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </div>
    </div>
</div>