<mat-toolbar
	color="primary"
	class="d-flex justify-content-end"
	style="height: 56px; position: sticky; top: 0; z-index: 9">
	<span class="me-4">
		<app-language-dropdown-select></app-language-dropdown-select>
	</span>
	<button mat-button class="me-3" routerLink="/login" routerLinkActive="nav-item-active">
		{{ "common.login" | translate }}
	</button>
	<button mat-button class="me-3" routerLink="/register" routerLinkActive="nav-item-active">
		{{ "common.register" | translate }}
	</button>
	<!-- <button mat-button class="me-3" routerLink="/recovery" routerLinkActive="nav-item-active">
		Recovery
	</button>
	<button mat-button class="me-3" routerLink="/reset" routerLinkActive="nav-item-active">
		Reset
	</button> -->
</mat-toolbar>
