$elements-count: 8;

.vlab-loading {
  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-block: 1.5rem;
    z-index: 999;
    background: rgba(128, 128, 128, 0.33);
  }

  &-element {
    background: #3f51b5;
    width: 5px;
    aspect-ratio: 1 / 1;
    clip-path: circle(50%);

    @for $i from 1 through $elements-count {
      &:nth-of-type(#{$i}) {
        animation: 1500ms cubic-bezier(0, 0, 0, 0) $i*150ms infinite forwards loading-animation;
      }
    }
  }
}

@keyframes loading-animation {
  50% {
    transform: translateX(100%)
  }
  80% {
    transform: translateX(100%) scale3d(250%, 250%, 250%);
  }
}
