<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="h-100">
	<div class="vlab-loading-container" *ngIf="isLoading">
		<div class="vlab-loading-element"></div>
		<div class="vlab-loading-element"></div>
		<div class="vlab-loading-element"></div>
		<div class="vlab-loading-element"></div>
		<div class="vlab-loading-element"></div>
		<div class="vlab-loading-element"></div>
		<div class="vlab-loading-element"></div>
		<div class="vlab-loading-element"></div>
	</div>
	<router-outlet></router-outlet>
</div>
