<div class="vlab-student-upload">
  <div class="flex-container" id="no-file-content" *ngIf="!file">
    <h4 class="main-heading">{{ "students.add-by-csv-file" | translate }}</h4>
    <h5 class="sub-heading">{{ "students.add-by-drag-drop" | translate }}</h5>
    <input type="file" id="formFile" (change)="getFile($event)">
    <label for="formFile">
      <mat-icon class="icon" color="primary">cloud_upload</mat-icon>
    </label>
  </div>
  <div class="flex-container" id="file-content" *ngIf="file">
    <h4 class="main-heading">{{ currentProgress }}</h4>
    <span class="added-file-name">{{ file }}</span>
    <div class="progress">
      <div class="progress-bar" role="progressbar" #fileUploadProgress></div>
    </div>
  </div>
</div>
