:host {
  display: block;

  &[hidden] {
    display: none;
  }
}

.vlab-student-upload {
  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #no-file-content {
    aspect-ratio: 1 / 1;
    border: 2px dashed #3f51b5;
    padding: 1rem;

    .main-heading {
      color: rgba(63, 81, 181, 0.7);
      user-select: none;
    }

    .sub-heading {
      color: rgba(63, 81, 181, 0.4);
      user-select: none;
    }

    #formFile {
      width: 100%;
      height: 100%;
      display: none;


    }

    .icon {
      width: 50px;
      height: 50px;
      font-size: 50px;
      cursor: pointer;

      &:hover {
        color: rgba(63, 81, 181, 0.7);
      }
    }
  }

  #file-content {
    padding-top: 1.5rem;
    gap: 1rem;

    .progress {
      --bs-progress-height: 1.5rem;
      --bs-progress-border-radius: 0;
      --bs-progress-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
      --bs-progress-bar-color: #fff;
      --bs-progress-bar-bg: #3f51b5;
      --bs-progress-bar-transition: width 0.6s cubic-bezier(0, 0, 0, 0);
      --vlab-progress-bar-width: 0;

      width: 100%;

      .progress-bar {
        width: var(--vlab-progress-bar-width, 0);
      }
    }

    .added-file-name {
      padding-inline: 1rem;
    }
  }
}
