.nav-items-container {
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: rgba(0, 0, 0, 0.15) white;
}

.nav-items-container::-webkit-scrollbar {
	width: 5px;
}
.nav-items-container::-webkit-scrollbar-track {
	background: var(#90a4ae);
}
.nav-items-container::-webkit-scrollbar-thumb {
	background-color: var(#cfd8dc);
	border-radius: 6px;
	border: 3px solid var(#90a4ae);
}
