<div class="d-flex" style="height: 100%; z-index: 1">
	<div style="height: 100vh; background: white" class="d-flex flex-column">
		<div class="d-flex justify-content-center pt-4 pb-5">
			<img
				style="height: 28px"
				src="../../../assets/images/vlab-logo-2.svg"
				alt="virtual labs logo" />
		</div>
		<ul class="px-0 h-100 my-auto nav-items-container">
			<li
				*ngFor="let item of navItems"
				matTooltip="{{ 'module.' + item.name | translate }}"
				matTooltipClass="sidenav-tooltip"
				matTooltipPosition="right"
				class="side-nav-item d-flex flex-column"
				(click)="navigateTo(item.route)"
				[ngClass]="isActiveRoute(item.route) ? 'side-nav-item-active' : ''">
				<mat-icon color="primary">{{ item.icon }}</mat-icon>
			</li>
		</ul>
		<span class="d-flex flex-column align-items-center justify-content-center pt-5">
			<span class="mb-3">
				<app-language-dropdown-select></app-language-dropdown-select>
			</span>
			<!-- <button mat-icon-button>
                <mat-icon matBadge="7" matBadgeSize="small" matBadgeColor="warn">notifications</mat-icon>
            </button> -->
			<button mat-icon-button [matMenuTriggerFor]="menu" class="mb-3">
				<mat-icon color="primary">more_vert</mat-icon>
			</button>
			<mat-menu #menu="matMenu">
				<button (click)="openMyAccount()" mat-menu-item>
					<mat-icon>person_outline</mat-icon>
					<span>{{ "common.my-account" | translate }}</span>
				</button>
				<button (click)="openSettings()" mat-menu-item disabled>
					<mat-icon>settings</mat-icon>
					<span>{{ "common.settings" | translate }}</span>
				</button>
				<button mat-menu-item (click)="logOutUser()">
					<mat-icon>logout</mat-icon>
					<span>{{ "common.logout" | translate }}</span>
				</button>
			</mat-menu>
		</span>
	</div>
</div>
