<div class="py-3 px-3 d-flex flex-column flex-grow h-100">
  <div class="w-100 d-flex justify-content-end align-items-center">
    <button mat-icon-button (click)="onCloseModal()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="w-100 my-3 d-flex justify-content-center">
    <h2>{{ "common.filtering" | translate }}</h2>
  </div>
  <div class="d-flex h-100">
    <div class="w-100 mx-3">
      <h3 class="mb-2"></h3>
      <mat-card class="mb-2">
        <mat-card-content>
          <h2 class="example-h2">Pierwsza</h2>
          <section class="example-section">
            <mat-slide-toggle
              class="example-margin"
              [color]="color"
              [checked]="checked"
              [disabled]="disabled">

            </mat-slide-toggle>
          </section>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <h2 class="example-h2">Druga</h2>
          <section class="example-section">
            <mat-slide-toggle
              class="example-margin"
              [color]="color"
              [checked]="checked"
              [disabled]="disabled">

            </mat-slide-toggle>
          </section>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
