<app-app-layout>
	<div container>
		<div class="w-100 d-flex mb-3">
			<button (click)="createAddNewStudentModal()" class="ms-auto" mat-flat-button color="primary">
				{{ "students.add-new-one" | translate }}
			</button>
			<button (click)="createUploadingCSVModal()" mat-flat-button color="primary" class="ms-3">
				{{ "students.import-student-list" | translate }}
			</button>
			<button (click)="convertStudentsDataToCSV()" mat-flat-button color="primary" class="ms-3">
				{{ "students.export" | translate }}
			</button>
		</div>
		<div class="w-100 mb-3">
			<app-data-table
				[columnConfig]="studentsColumnConfig"
				[data]="studentsData"
				[title]="studentsTableTitle"
				(onEdit)="getStudents()">
			</app-data-table>
		</div>
	</div>
</app-app-layout>
