<div class="w-100 mb-3">
	<div class="w-100 d-flex mb-3">
		<div *ngFor="let workstation of workstationsData"></div>
		<!-- filter-parameters  -->
		<button mat-flat-button color="primary">Filtruj</button>
		<div class="ms-auto">
			<!-- create-button -->
			<button class="ms-auto" mat-flat-button color="primary" (click)="onShowCreateWorkstationModal()">
				Dodaj nowe
			</button>
			<!-- export-to-file-button -->
			<button mat-flat-button color="primary" class="ms-3">Export</button>
		</div>
	</div>
	<app-data-table
		[columnConfig]="workstationsColumnConfig"
		[data]="workstationsData"
		[title]="workstationsTableTitle">
	</app-data-table>
</div>
