<button
	[matMenuTriggerFor]="iconMenu"
	mat-mini-fab
	mat-circle
	[ngStyle]="{ 'background-color': configIconForm.get('icon-background')?.value }">
	<mat-icon class="pb-1" [ngStyle]="{ color: configIconForm.get('icon-color')?.value }">{{
		configIconForm.get("icon-type")?.value
	}}</mat-icon>
</button>
<mat-menu #iconMenu="matMenu" xPosition="after" class="icon-change-panel">
	<h3>Konfiguracja Symbolu</h3>
	<div class="d-flex" (click)="$event.stopPropagation()">
		<form [formGroup]="configIconForm" class="row gx-3 common-form">
			<div class="mx-3" style="width: 200px">
				<h4 class="text-muted">Ikona</h4>
				<mat-radio-group aria-label="Select an option" formControlName="icon-type">
					<div class="row gy-3">
						<div class="col-6 d-flex" *ngFor="let icon of iconTypes">
							<button
								mat-mini-fab
								mat-circle
								[ngStyle]="{ 'background-color': configIconForm.get('icon-background')?.value }">
								<mat-icon
									class="pb-1"
									[ngStyle]="{ color: configIconForm.get('icon-color')?.value }">
									{{ icon.name }}</mat-icon
								>
							</button>
							<mat-radio-button class="ms-3 my-auto" [value]="icon.name"></mat-radio-button>
						</div>
					</div>
				</mat-radio-group>
			</div>
			<div
				style="
					height: 100%;
					width: 1px;
					color: #aaa;
					border-left: solid 1px #ddd;
					padding: 0 0px 0 0px;
					margin: 0 8px 0 4px;
				"></div>
			<div class="mx-3" style="width: 200px">
				<h4 class="text-muted">Tło</h4>
				<mat-radio-group aria-label="Select an option" formControlName="icon-background">
					<div class="row gy-3">
						<div class="col-6 d-flex" *ngFor="let background of iconBackgrounds">
							<button mat-mini-fab mat-circle [ngStyle]="{ 'background-color': background.name }">
								<mat-icon
									class="pb-1"
									[ngStyle]="{ color: configIconForm.get('icon-color')?.value }">
									{{ configIconForm.get("icon-type")?.value }}</mat-icon
								>
							</button>
							<mat-radio-button class="ms-3 my-auto" [value]="background.name"></mat-radio-button>
						</div>
					</div>
				</mat-radio-group>
			</div>
			<div
				style="
					height: 100%;
					width: 1px;
					color: #aaa;
					border-left: solid 1px #ddd;
					padding: 0 0px 0 0px;
					margin: 0 8px 0 4px;
				"></div>
			<div class="mx-3" style="width: 200px">
				<h4 class="text-muted">Kolor</h4>
				<mat-radio-group aria-label="Select an option" formControlName="icon-color">
					<div class="row gy-3">
						<div class="col-6 d-flex" *ngFor="let color of iconColors">
							<button
								mat-mini-fab
								mat-circle
								[ngStyle]="{ 'background-color': configIconForm.get('icon-background')?.value }">
								<mat-icon class="pb-1" [ngStyle]="{ color: color.name }">{{
									configIconForm.get("icon-type")?.value
								}}</mat-icon>
							</button>
							<mat-radio-button class="ms-3 my-auto" [value]="color.name"></mat-radio-button>
						</div>
					</div>
				</mat-radio-group>
			</div>
		</form>
	</div>
</mat-menu>
