/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
	height: 100%;
	background-color: #f5f5f5;
	margin: 0;
	overflow-x: hidden;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

li {
	list-style-type: none;
}

.mat-drawer-side {
	border-right: 0;
}

.side-nav-item {
	height: 40px;
	padding: 8px 32px;
	margin-top: 12px;
	cursor: pointer;
	border-right: solid 3px rgba(255, 255, 255, 0);
}

.side-nav-item-active {
	background-color: #f5f5f5;
	border-right: solid 3px #3f51b5 !important;
	transition: ease-in-out 0.3s all;
}

.drawer-item {
	padding: 8px 28px 8px 8px;
	margin-top: 12px;
	cursor: pointer;

	div {
		line-height: 22px;
	}
}

.sidenav-tooltip {
	font-size: 0.85rem !important;
}

.login-form {
	.mat-form-field-wrapper {
		padding-bottom: 0 !important;
	}
}

.register-form {
	.mat-form-field-wrapper {
		padding-bottom: 0 !important;
	}
}

.common-form {
	.mat-form-field-wrapper {
		padding-bottom: 0 !important;
	}
}

.mat-form-field-subscript-wrapper {
	position: relative !important;
}

.pl {
	background-image: url("./assets/images/flag-poland.png");
}

.en {
	background-image: url("./assets/images/flag-england.png");
}

.p-component,
.p-component *,
.p-skeleton,
.skeleton * {
	box-sizing: border-box;
}

.p-skeleton {
	background-color: #e9ecef;
	border-radius: 3px;
}
.p-skeleton:after {
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 0.4),
		rgba(255, 255, 255, 0)
	);
}
.custom-class {
	mat-dialog-container {
		padding: 0 !important;
	}
}

.icon-change-panel {
	max-width: 1200px !important;
	padding: 20px;
}
