<div
	[matMenuTriggerFor]="languageMenu"
	[ngClass]="currentLanguage"
	style="
		border: solid 1px gray;
		cursor: pointer;
		width: 25px;
		height: 25px;
		border-radius: 25px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	"></div>
<mat-menu #languageMenu="matMenu" xPosition="before">
	<button mat-menu-item class="d-flex align-items-center" (click)="setCurrentLanguage('pl')">
		<div
			style="
				width: 24px;
				height: 24px;
				border-radius: 24px;
				border: solid 2px #bbb;
				background-image: url('../../../../assets/images/flag-poland.png');
				background-position: center;
				background-size: cover;
				margin-right: 12px;
				background-repeat: no-repeat;
			"></div>
		<span>Polski</span>
	</button>
	<button mat-menu-item class="d-flex align-items-center" (click)="setCurrentLanguage('en')">
		<div
			style="
				width: 24px;
				height: 24px;
				border-radius: 24px;
				border: solid 2px #bbb;
				background-image: url('../../../../assets/images/flag-england.png');
				background-position: center;
				background-size: cover;
				margin-right: 12px;
			"></div>
		<span>English</span>
	</button>
</mat-menu>
